
.submitButton {
    display: block;
    margin: 0 auto;
    background-color: #A9BAB0;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}
.buttonSelected {
    background-color: #A9BAB0;
}

.componentContainer {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcontainer {
    width: 350px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 15px;
    position: relative;

}

.accountActionTypeButtonsContainer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.transButtons {
    width: 100%;
    height: 35px;
    padding: 0px;
    font-weight: bold;
}

.categoryDropdown {
    width: 100%;
    height: 35px;
    background-color: #F0F0F0;
}

.inputAmount {
    width: 100%;
    height: 35px;
    background-color: #F0F0F0;
}

.logo {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px
}

h2 {
    text-align: center;
    font-size: 2rem;
    border-bottom: 3px solid #2F3E46;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .formcontainer {
        width: 90%;
        max-width: 350px;
        padding: 20px 15px;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    .logo {
        width: 40px;
    }
    
    .submitButton {
        font-size: 1rem;
        padding: 8px;
    }
}