.componentContainer {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcontainer {
    width: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 15px;

}

.transTypeButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.transButtons {
    width: 100%;
    height: 35px;
    margin: 5px;
}

.categoryDropdown {
    width: 100%;
    height: 35px;
    background-color: #F0F0F0;
}

.inputAmount {
    width: 100%;
    height: 35px;
    background-color: #F0F0F0;
}